<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Login</title>
</head>
<body>
    <div>
        <h1>@ViewBag.Fecha</h1>

        <h1>@ViewBag.Mensaje</h1>
    </div>
    @Html.ActionLink("Ir a vuelos", "Index", "Vuelo")
</body>
</html>


